header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

nav ul li ul {
    display: none;
    position: absolute;
}

li {
    list-style-type: none;
}

nav > ul > li {
    display: inline-block;
}

nav ul li:hover ul {
    display: block;
}

nav a {
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
}